  <div class="row-fluid" id="admin-row">
    <div class="span3" id="admin-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Administration</li>
        <li class="active"><a href="#">Übersicht</a></li>
        <li><a href="#">Anmeldungen</a></li>
        <li><a href="#">Einstellungen</a></li>
      </ul>
    </div>
    <div class="span9">
      <h2>Content</h2>
    </div>
  </div>