      <% if flash[:message] %>
      <div class="alert alert-info">
        <%= flash[:message] %>
      </div>
      <% end %>

      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1 class="hidden-phone hidden-tablet">Der <span id="halbautomatisch" class="script">halbautomatische</span> <span id="einbeinig">Einbeinige</span></h1>
        <p class="lead">Der halbautomatische Einbeinige ist das Tool, mit dem <a href="https://twitter.com/holgi">Holgi</a> seine Anrufer für die <a href="http://www.wrint.de/category/ferngespraeche/">Ferngespräche</a> in WRINT verwaltet. Wenn Du Holgi <em>Deine</em> Geschichte erzählen willst: trag Dich ein.</p>
        <%if @registration_open == true%>
        <a class="btn btn-large btn-success" href="/register">Trag Dich ein!</a>
        <%else%>
        <div class="well well-large alert-info">
          <i class="icon-lock icon-large"> </i><strong>Geschlossen</strong> – Momentan ist die Anmeldung nicht möglich. Bitte <strong><a href="#">schau hier</a></strong>, wann die nächsten Ferngespräche sind. Die Anmeldung öffnet typischerweise 3 Tage vorher – dann kannst Du noch einmal vorbeischauen.
        </div>
        <%end%>
      </div>

      <hr>

      <div class="row-fluid">
        <div class="span4">
          <h2><i class="icon-comments-alt"> </i>Was?</h2>
          <p>Jeder hat eine Geschichte zu erzählen, auch Du. Die Ferngespräche sind der Versuch dies jeden tun zu lassen. Darum ist auch jedes Thema willkommen. Gib einfach an, worüber Du mit Holgi sprechen willst.</p>
        </div>
        <div class="span4">
          <h2><i class="icon-time"> </i>Wann?</h2>
          <p>Die Ferngespräche finden in loser Folge statt. Die nächste Folge ist <%=@next_date%>.</p>
       </div>
        <div class="span4">
          <h2><i class="icon-question-sign"> </i>Wie?</h2>
          <p>Hinterlasse im halbautomatischen Einbeinigen Deine Koordinaten (Name, Mail- &amp; Skypeadresse) und Dein Wunschthema. Holgi wird sich dann bei Dir melden.</p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 center">
          Weitere Fragen? – <a href="http://www.wrint.de/man-ferngesprache/">Antworten!</a>
        </div>
      </div>