      <div class="row-fluid">
        <div class="span12">
          <h2 class="script">Merci</h2>
          <div class="pull-right" id="huge-ok"><i class="icon-ok-circle"> </i></div>
          <p class="lead">
            Wir haben Deine Anmeldung erhalten – Holgi wird sich bei Dir melden
          </p>
          <p class="lead">Es sind nun <span id="counter"><%=@count%></span> Anmeldungen in der Warteschleife</p>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <p>In der Zwischenzeit: Hör doch noch ein paar <a href="http://hoersuppe.de/">andere spannende Podcasts</a></p>
       </div>
      </div>